# Railway Environment Variables
PORT=3000

# API Keys
SUNO_API_KEY=sksonauto_Af950HjWjAqgYdswQYXLGoUUwVQp_vjOOiAGuSS2ewzgG_2v
AUDIO_API_KEY=fb8231ecce1a672bff1fad69509aa1e4

# Railway specific
RAILWAY_STATIC_URL=https://ai-music-web-frontend.railway.app 